<?xml version="1.0" encoding="UTF-8"?>
<widget xmlns="http://www.w3.org/ns/widgets" xmlns:gap="http://phonegap.com/ns/1.0" id="com.solsort.simplesnake" version="1.0.0">
  <name short="simple-snake">simple-snake</name>

  <description>Simple snake-like game, with single input</description>

  <author href="http://www.solsort.com/"> solsort.com </author>
  <icon src="icon.png" gap:role="default" />

  <gap:platforms>
    <gap:platform name="ios" />
    <gap:platform name="android" />
  </gap:platforms>
  <preference name="fullscreen" value="true" /> 
</widget>
